.categories {
	padding: 1rem;
	background: #263036;
	display: flex;
}

.categories ul {
	flex: 1;
	display: flex;
	flex-direction: row;
	color: #263036;
}

.categories ul li {
	margin-right: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f6f6f6;
}
